<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                    <input type="hidden" name="_id" [(ngModel)]="servicio.selectedEmployed._id" />

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your FullName" name="name" [(ngModel)]="servicio.selectedEmployed.name" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your position" name="position" [(ngModel)]="servicio.selectedEmployed.position" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your Departament" name="Departament" [(ngModel)]="servicio.selectedEmployed.Departament" />
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Enter your Salary" name="salary" [(ngModel)]="servicio.selectedEmployed.salary" />
                    </div>
                    <button class="btn btn-primary mr-2" (click)="reseForm(employeeForm)">
            Clear
          </button>
                    <button class="btn btn-secondary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-stripe">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>position</th>
                    <th>Departament</th>
                    <th>Salary</th>
                    <th>OPERATION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of servicio.employees">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.Departament }}</td>
                    <td>{{ employee.salary }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" (click)="editEmployee(employee)">
              <i class="material-icons">edit</i>
            </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee._id)">
              <i class="material-icons">delete</i>
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>